# Build results
x86/*
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


!GMoogBoost/*

**/Release
**/Debug
# *.lib This will ignore the .lib file in GMoogBoost
!gmoogLib/GMoogBoost/myBoost/boost/preprocessor/debug/error.hpp
x64/**
!x64/Release
!x64/Release/*.dll


# Visual Studio 2015/2017 cache/options directory
.vs/
